# 標記資料整理
1. 合併所有檔案
2. 檢查缺失值
3. 檢查重複值
4. 檢查語調欄位正確性
5. 去除語句空白

## 讀取路徑

In [170]:
import pandas as pd
import numpy as np
import os

In [112]:
# os.getcwd()
# data_dir = os.getcwd()

In [119]:
data_dir = "/Users/hohan/Desktop/tagged_2"

In [120]:
file_list = os.listdir(data_dir)

In [122]:
mdf = pd.DataFrame()
# mdf.head()

Empty DataFrame
Columns: []
Index: []

## 合併所有excel

In [125]:
for i, f in enumerate(file_list):
    if f.endswith('.xlsx'):
        df = pd.read_excel(data_dir + '/' + f)
        mdf = pd.concat([mdf, df],axis=0)

In [141]:
mdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7053 entries, 0 to 6
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Tone     7038 non-null   object
 1   Year     7053 non-null   int64
 2   Company  7053 non-null   int64
 3   Text     7053 non-null   object
dtypes: int64(2), object(2)
memory usage: 275.5+ KB

In [153]:
mdf.head(100)

   Tone  Year  Company                                               Text
0     負  2016     4533  ﻿壹、致股東報告書各位股東女士、先生  2016年，我國工具機出口值從 31.84億美元衰退...
1     正  2016     4533  全年機械產業產值則較2015年衰退 7%，然而，協易 2016年集團整體營收為新台幣 41....
2     正  2016     4533                                    優化的產品組合帶動了獲利的成長
3     中  2016     4533            過去以傳統小噸數機台為主的營收，現在正逐步轉型至伺服機種及大噸數機台的銷售組合
4     中  2016     4533                        締造了 2016年稅後每股盈餘新台幣 1.06元的績效
..  ...   ...      ...                                                ...
21    中  2016     8403  二、106年營業計劃概要 （一）經營方針 醫藥流通事業： --- 醫藥品聯合採購平台: 包括...
22    中  2016     8403                                     --- 藥品衛材倉儲物流管理
23    中  2016     8403                                  --- 藥品衛材專業資訊諮詢與服務
24    中  2016     8403                              --- 藥品、保健食品及藥妝品之經銷與代理
25    中  2016     8403                                        --- 藥局營運與管理

[100 rows x 4 columns]

In [156]:
# reset index
mdf.reset_index(drop = True, inplace = True)

In [157]:
mdf.head(100)

   Tone  Year  Company                                               Text
0     負  2016     4533  ﻿壹、致股東報告書各位股東女士、先生  2016年，我國工具機出口值從 31.84億美元衰退...
1     正  2016     4533  全年機械產業產值則較2015年衰退 7%，然而，協易 2016年集團整體營收為新台幣 41....
2     正  2016     4533                                    優化的產品組合帶動了獲利的成長
3     中  2016     4533            過去以傳統小噸數機台為主的營收，現在正逐步轉型至伺服機種及大噸數機台的銷售組合
4     中  2016     4533                        締造了 2016年稅後每股盈餘新台幣 1.06元的績效
..  ...   ...      ...                                                ...
95    中  2016     8403  二、106年營業計劃概要 （一）經營方針 醫藥流通事業： --- 醫藥品聯合採購平台: 包括...
96    中  2016     8403                                     --- 藥品衛材倉儲物流管理
97    中  2016     8403                                  --- 藥品衛材專業資訊諮詢與服務
98    中  2016     8403                              --- 藥品、保健食品及藥妝品之經銷與代理
99    中  2016     8403                                        --- 藥局營運與管理

[100 rows x 4 columns]

## 檢查缺失值

In [162]:
# check null value
mdf['Tone'].isnull().sum()

15

In [186]:
null_df = mdf.isnull()
null_df = null_df[null_df['Tone'] == True]
null_df

      Tone   Year  Company   Text
3036  True  False    False  False
3037  True  False    False  False
3038  True  False    False  False
3039  True  False    False  False
3040  True  False    False  False
3041  True  False    False  False
3042  True  False    False  False
3043  True  False    False  False
3044  True  False    False  False
3045  True  False    False  False
3046  True  False    False  False
3047  True  False    False  False
3048  True  False    False  False
3049  True  False    False  False
4632  True  False    False  False

In [188]:
null_list = null_df.index
null_list

Int64Index([3036, 3037, 3038, 3039, 3040, 3041, 3042, 3043, 3044, 3045, 3046,
            3047, 3048, 3049, 4632],
           dtype='int64')

In [195]:
for i in null_list:
    print(mdf.loc[i, 'Company'])

4306
4306
4306
4306
4306
4306
4306
4306
4306
4306
4306
4306
4306
4306
4183

## 移除缺失值

In [197]:
mdf.dropna(inplace = True)

In [198]:
mdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7038 entries, 0 to 7052
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Tone     7038 non-null   object
 1   Year     7038 non-null   int64
 2   Company  7038 non-null   int64
 3   Text     7038 non-null   object
dtypes: int64(2), object(2)
memory usage: 274.9+ KB

In [199]:
mdf.shape

(7038, 4)

In [200]:
mdf.isnull().sum()

Tone       0
Year       0
Company    0
Text       0
dtype: int64

## 檢查重複值

In [206]:
# check duplicated value
mdf.duplicated().sum()

10

In [226]:
mdf[mdf.duplicated()]

     Tone  Year  Company                                               Text
789     中  2016     4128   積極爭取與政府農政單位及農漁民之合作機會，促銷各鄉鎮地區知名有機農、漁、畜產品，提升公司品牌形象
1195    中  2016     1612                                  目前已完成試製開發，並投入市場供應
4271    正  2016     4743  牛樟芝抗癌新藥除直接抗癌活性外，進一步的生體內外與疾病動物模式亦證明牛樟芝具有抑制血管新生的...
4425    正  2016     4173      其他綜合損益 (354) (9,365) -96.22%主要係確定福利計畫精算損失減少所致
4437    正  2016     4173                     股東權益 2.52 2.34係 105 年度稅後盈餘增加所致
4441    正  2016     4173                     基本每股 0.60 0.56係 105 年度稅後盈餘增加所致
5390    中  2016     4107    除此之外，本公司亦將進一步的與上游主要原料供應商加強合作關係，以確保原材料的品質穩定及來源無虞
5391    中  2016     4107  並為因應國內外市場的開發，除更積極佈局全球市場的銷售網路外，並將更進一步強化與客戶的合作夥伴...
6463    中  2016     4109                      而由此大層面可節省社會之健保負擔和家庭經濟負擔是相當龐大的
6466    正  2016     4109                            我們有太多的伙伴，十多年來的堅持就是最好的見證

## 確認標記正確性

In [227]:
# check Tone column
mdf['Tone'].unique()

array(['負', '正', '中'], dtype=object)

## 語調比例

In [224]:
plot_df = mdf.groupby('Tone')[['Company']].count()
plot_df['percentage'] = plot_df['Company']/len(mdf)

In [225]:
plot_df

      Company  percentage
Tone
中        3964    0.563228
正        2398    0.340722
負         676    0.096050

## 去除空白

In [228]:
mdf1 = mdf
mdf1['Text'] = mdf1['Text'].str.strip()
mdf1['Text'] = mdf1['Text'].str.replace(' ', '')

In [229]:
mdf1.shape

(7038, 4)

In [231]:
mdf1.to_excel('/Users/hohan/Desktop/out_2.xlsx')